* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    color: #E2CFC9;
    background-image: linear-gradient(45deg, #30051f, #731331);
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    z-index: 1;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    margin-top: 10rem;
    height: 70%;
}

#images img {
    object-fit: cover;
    object-position: 6rem;
}

#bandeira {
    position: relative;
    text-align: center;
    width: 100%;
}

#bandeira img {
    width: 5em;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }

    .choice {
        flex-direction: column;
    }
}

.title {
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.choice-title {
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.5rem;
}

.subtitle {
    font-weight: 400;
    font-style: italic;
    margin: 1rem;
    margin-top: 0rem;
    font-size: 1rem;
}

.cards {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    font-weight: 700;
}


.card {
    padding: 2rem;
    margin: 1rem;
    max-width: 15rem;
    max-height: 15rem;
    background-color: #E2CFC9;
    border-radius: 0.5rem;
    border: 1px solid #30051f;
    font-weight: 400;
    color: #30051f
}

#card1 {
    box-shadow: #30051f 10px 10px 0px 2px;
}

#card2 {
    box-shadow: #30051f 10px 10px 0px 2px;
}

#card3 {
    box-shadow: #30051f 10px 10px 0px 2px;
}

#cadastro {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin: 5rem;
    background-color: #30051f;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #E2CFC9;
    text-align: center;
    box-shadow: #E2CFC9 10px 10px 0px 2px;
}

.cadastro-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#procura {
    display: none;
    flex-direction: column;
    font-weight: 500;
    margin: 5rem;
    background-color: #30051f;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #E2CFC9;
    text-align: center;
    box-shadow: #E2CFC9 10px 10px 0px 2px;
}

.procura-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#message_error,
#message_error_search {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #731331;
    color: azure;
    border-radius: 0.5rem;
    border: 1px solid azure;
    transition: 1s;
}

#message_ok {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #00b018;
    color: azure;
    border-radius: 0.5rem;
    border: 1px solid azure;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid azure;
    background-color: #30051f;
    color: azure;
}

input:focus {
    outline: none;
    box-shadow: #731331 2px 2px 2px 2px;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid azure;
    background-color: #30051f;
    color: azure;
    font-weight: 700;

}

button:hover {
    cursor: pointer;
    background-color: #731331;
    transform: scale(1.1);
    transition: 0.2s;
}


#linha {
    background-color: #E2CFC9;
    width: 100%;
    height: 1px;
    margin-top: 20px;
}

#faixa {
    background-color: #E2CFC9;
    background-color: #E2CFC9;
    width: 100%;
    color: #731331;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
}

.cardhouver {
    padding: 2rem;
    margin: 3rem;
    max-width: 15rem;
    max-height: 15rem;
    background-color: #30051f;
    border-radius: 0.5rem;
    border: 1px solid #E2CFC9;
    font-weight: 600;
    color: #E2CFC9;
    cursor: pointer;
    box-shadow: #E2CFC9 10px 10px 0px 2px;
    font-size: 1rem;
}

#footer {
    display: flex;
    flex-direction: column;
    color: azure;
    font-family: poppins, sans-serif;
    background-color: #30051f;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}